body{
    background-color:grey;
}
.tab_panel{
    width: auto;
    height:auto;
    /* background-color: beige; */
    margin: 200px auto;
}
.tabs{
    overflow: hidden;
}

.tabs button{
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.09s;
  font-size: 17px;
  background-color: lightgrey;
}

.tab{
    width:100px;
    height: 40px;
    background: #fff;
    margin-right: 12px;
    text-align: center;
    border: 1px solid gray;
    position: relative;
    border-radius: 5px 0 0 0;
}


.tab::after{
    content: "";
    position: absolute;
    z-index: 6;
    top: -1px;
    right: -10px;
    bottom: -1px;
    width: 16px;
    background: lightgrey;
    transform: skew(10deg);
    border-radius: 0 5px 0 0;
    border: 1px solid beige;
    border-left: 0;
}

.tab_data{
    background-color: #fff;

    display: none;
    padding: 1px 0px 0px 10px;
    border: 1px solid gray;
    border-top: none;
    border-right: none;
}
.tabs button.active,.tabs button.active:after 
{
  background-color: #fff;
  border-bottom: none;
}